body {
  background-color: #F4F4F4;
  line-height: 30px;
  color: #555555;
  font-weight: 200; }

.header {
  width: 100%;
  padding: 5px 2%;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: fixed;
  top: 0; }
  .header a:link, .header a:visited {
    color: #888 !important;
    text-decoration: none; }
  .header a:hover {
    color: #61e69d !important;
    transition: color 0.2s ease; }
  .header:after {
    content: "";
    display: table;
    clear: both; }

header.header #logo-type {
  font-size: 13px;
  letter-spacing: 2.5px;
  color: #0a0a0a;
  float: left;
  line-height: 30px; }

header.header nav.nav {
  float: right;
  margin-top: 15px; }
  header.header nav.nav ul li {
    display: inline;
    margin: 10px 10px; }

#intro {
  height: 650px;
  width: 100%;
  position: relative; }
  #intro h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 130px;
    z-index: 90; }
  #intro .animation-container {
    padding: 240px 0px 40px 0px;
    overflow: hidden; }

#intro-copy {
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center; }
  #intro-copy p {
    color: #CCCCCC; }

.footer-home {
  background-color: #161a1e;
  padding: 30px 0 25px;
  position: relative; }
  .footer-home ul {
    padding: 0; }
    .footer-home ul li {
      list-style: none; }

.footer-home--title {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1.5px;
  padding-bottom: 6px;
  border: 0;
  border-bottom: 1px solid #141619; }

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.footer-home .float-left {
  float: left; }

.footer-home .float-right {
  float: right; }

.footer-home--icon {
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  margin: 5px 0 10px;
  width: 170px; }
  .footer-home--icon.facebook {
    border: 1px solid #37589a;
    color: #37589a;
    margin-right: 5px; }
    .footer-home--icon.facebook:hover {
      background-color: #37589a; }
  .footer-home--icon.twitter {
    border: 1px solid #0ab8ed;
    color: #0ab8ed; }
    .footer-home--icon.twitter:hover {
      background-color: #0ab8ed; }
  .footer-home--icon.google {
    border: 1px solid #da4a38;
    color: #da4a38; }
    .footer-home--icon.google:hover {
      background-color: #da4a38; }
  .footer-home--icon.github {
    border: 1px solid #444;
    color: #444; }
    .footer-home--icon.github:hover {
      background-color: #444; }
  .footer-home--icon:hover {
    color: #fff; }
  .footer-home--icon i {
    margin-right: 5px; }

.footer-home--link {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 200;
  max-width: 120px;
  line-height: 21px;
  padding: 2px 0; }
  .footer-home--link:focus, .footer-home--link:hover {
    color: #acbbc5; }

.footer-home--contact {
  color: #fff;
  font-size: 13px; }
  .footer-home--contact i {
    padding-top: 10px; }

.footer-home--news form {
  margin: 0;
  padding: 0; }
  .footer-home--news form input[type=email] {
    outline: 0;
    color: #eee;
    height: 39px;
    border: none;
    padding: 0 5px;
    min-width: 170px;
    margin-right: -4px;
    margin-bottom: 15px;
    background-color: #3e4144; }
  .footer-home--news form input[type=submit] {
    outline: 0;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    line-height: 1;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    padding: 13px 16px;
    background-color: #2F7756; }
    .footer-home--news form input[type=submit]:hover {
      background-color: #3b946b; }

.hr-footer {
  border: 0;
  border-top: 1px solid #1c2227;
  border-bottom: 1px solid #141619; }

.copy {
  color: #fff; }

@media (max-width: 767px) {
  .footer-home {
    text-align: center;
    padding-bottom: 30px; }
  .footer-home--icon {
    margin: 10px auto; }
    .footer-home--icon.facebook {
      margin-right: auto; }
  .footer-bar {
    padding: 0 40px; }
  .footer-home--link {
    margin: 0 auto; } }

@media (min-width: 768px) {
  .footer-home .float-left, .footer-home .float-right {
    width: 50%; }
  .footer-home--link {
    display: inline-block;
    float: left;
    clear: both; } }

@media (max-width: 992px) {
  .footer-home .float-left, .footer-home .float-right {
    float: none; } }
