@import "color.scss";
@import "header-example.scss";

.footer-home {
  background-color: #b7b7b7;
  padding: 30px 0 25px;
  position: relative;
  ul {
    padding: 0;
    li {
      list-style: none;

    }
  }
}

.footer-home--title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1.5px;
  padding-bottom: 6px;
  border: 0;
  border-bottom: 1px solid #ababab;
}

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.footer-home {
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
}

.footer-home--icon {
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  margin: 5px 0 10px;
  width: 170px;
  &.facebook {
    background-color: $facebookColor;
    border: 1px solid $facebookColor;
    color: $white;
    margin-right: 5px;
    &:hover {
      background-color: #446ab5;
    }
  }
  &.twitter {
    background-color: $twitterColor;
    border: 1px solid $twitterColor;
    color: $white;
    &:hover {
      background-color: #1cc2f5;
    }
  }
  &.google {
    background-color: $googleColor;
    border: 1px solid $googleColor;
    color: $white;
    &:hover {
      background-color: #ec5846;
    }
  }
  &.github {
    background-color: $githubColor;
    border: 1px solid $githubColor;
    color: $white;
    &:hover {
      background-color: #555;
    }
  }
  &:hover {
    color: $white;
  }
  i {
    margin-right: 5px;
  }
}

.footer-home--link {
  color: #333;
  display: block;
  font-size: $font13;
  font-weight: 200;
  max-width: 120px;
  line-height: 21px;
  padding: 2px 0;
  &:focus, &:hover {
    color: #777;
  }
}

.footer-home--contact{
  color: #333;
  font-size: $font13;
  & i{
    padding-top: 10px;
  }
}

.footer-home--news form {
  margin: 0;
  padding: 0;
  input {
    &[type=email] {
      outline: 0;
      color: #eee;
      height: 39px;
      border: none;
      padding: 0 5px;
      min-width: 170px;
      margin-right: -4px;
      margin-bottom: 15px;
      background-color: #868686;
    }
    &[type=submit] {
      outline: 0;
      color: #fff;
      border: none;
      border-radius: 0 20px 20px 0;
      line-height: 1;
      cursor: pointer;
      font-size: 13px;
      font-weight: 700;
      padding: 13px 16px;
      background-color: #2F7756;
      &:hover{
        background-color: #3b946b
      }
    }
  }
}

.hr-footer {
  border: 0;
  border-bottom: 1px solid #ababab;
}

.copy {
  color: #333;
}


@media (max-width: 767px) {
  .footer-home {
    text-align: center;
    padding-bottom: 30px;
  }
  .footer-home--icon {
    margin: 10px auto;
    &.facebook {
      margin-right: auto;
    }
  }
  .footer-bar {
    padding: 0 40px;
  }
  .footer-home--link {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .footer-home {
    .float-left, .float-right {
      width: 50%;
    }
  }
  .footer-home--link {
    display: inline-block;
    float: left;
    clear: both;
  }
}

@media (max-width: 992px) {
  .footer-home {
    .float-left, .float-right {
      float: none;
    }
  }
}